.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
.container{
  width: 500px;
  background-color: rgb(36, 163, 163);
  padding: 1rem;
 

}
input{
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}
ul,li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li{
  background-color: aqua;
  padding: 5px;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
}
li>div{
  width: 47%;
  margin: 0;
  padding: 0;
}

.btn{
  display: flex;
  justify-content: end;
  padding:10px 0;
  
}
button{
  background-color: blueviolet;
  color: white;
}
